# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Local Dev tooling for server refresh on file change, don't need in prod
/tmp/* 
*/tmp/*
.air.toml

# good ol .env file for local dev
.env

# Test data and test results for the go test command
*/testdata/*
